# creating tuples

In [3]:
emp=()
print(emp)

()

In [8]:
city="pune",
print(city)

('pune',)

In [9]:
type(city)

tuple

In [10]:
city=("pune")
type(city)

str

In [12]:
city=("pune",)
type(city)

tuple

In [13]:
print(city)

('pune',)

In [14]:
city=("pune","bangalore","delhi","mumbai")
print(city)

('pune', 'bangalore', 'delhi', 'mumbai')

In [22]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)

In [23]:
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [20]:
tuple1.append
print(tuple1) #immutable

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
tuple2=1,2,3,4

In [25]:
print(tuple2)

(1, 2, 3, 4)

In [26]:
city[1]

'bangalore'

In [27]:
city[-1]

'mumbai'

In [28]:
len(city)

4

In [31]:
num=1,2,3,4

In [32]:
print(city+num)

('pune', 'bangalore', 'delhi', 'mumbai', 1, 2, 3, 4)

# nesting

In [34]:
nest=(city,num)
print(nest)

(('pune', 'bangalore', 'delhi', 'mumbai'), (1, 2, 3, 4))

4
# repetition

In [36]:
rep=("python",)*5
print(rep)

('python', 'python', 'python', 'python', 'python')

In [37]:
rep=("python",)
print(rep*10)

('python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python')

In [40]:
print(rep)

('python',)

# slicing

In [41]:
print(num)

(1, 2, 3, 4)

In [42]:
num[1:]

(2, 3, 4)

In [43]:
num[2:3]

(3,)

In [44]:
num[::-1]

(4, 3, 2, 1)

# unpacking

In [45]:
tuple("aaghash")

('a', 'a', 'g', 'h', 'a', 's', 'h')

In [46]:
print(num)

(1, 2, 3, 4)

In [47]:
a,b,c,d=num

In [48]:
print(a)

1

In [49]:
a,*b,c=num

In [50]:
print(a,c,b)

1 4 [2, 3]

# deleting a tuple

In [52]:
tuple1=1,2,3,4
print(tuple1)

(1, 2, 3, 4)

In [53]:
del(tuple1)

In [54]:
print(tuple1)

NameError: name 'tuple1' is not defined

# built in functions

In [55]:
num1=(3,5,2,5,3,2,2,6,2,44,2)

In [56]:
num1.count(2)

5

In [57]:
sum(num1)

76

In [58]:
len(num1)

11

In [59]:
max(num1)

44

In [60]:
min(num1)

2

# conversion of list to tuple

In [61]:
lst=[1,2,3,4,5]
print(type(lst))

<class 'list'>

In [64]:
tpl=tuple(lst)

In [66]:
print(type(tpl))

<class 'tuple'>

# nesting tuples in a list

In [67]:
lst=[(1,2,3),(4,5,6)]

In [68]:
print(lst)

[(1, 2, 3), (4, 5, 6)]

In [70]:
lst.append(("tuple","inside","list"))

In [71]:
print(lst)

[(1, 2, 3), (4, 5, 6), ('tuple', 'inside', 'list')]

In [73]:
lst.remove((1,2,3))

In [74]:
print(lst)

[(4, 5, 6), ('tuple', 'inside', 'list')]

# Nesting list in tuples

In [99]:
tpl=(['a','b','c'],['e','d','f'])

In [100]:
print(tpl)

(['a', 'b', 'c'], ['e', 'd', 'f'])

In [101]:
-tpl[0].append('z')
print(tpl)  #we are changing only lists

(['a', 'b', 'c', 'z'], ['e', 'd', 'f'])

In [102]:
tpl[0].remove('z')
print(tpl)

(['a', 'b', 'c'], ['e', 'd', 'f'])

In [103]:
tpl.append([1,2,3]) #tuple not changable

AttributeError: 'tuple' object has no attribute 'append'